<tr>
    <th>Venda de Cotas e Participações</th>
    <td><select name="quota_system" id="quota_system" v-model="fpa.quota_system">
        <option value="1">SIM</option>
        <option value="2">NÃO</option>
        </select></td>
</tr>

<tr v-if="fpa.quota_system==1">
    <th>Quantidade de Cotas [total]</th>
    <td><input type="text" name="quota_total" v-model="fpa.quota_total" @keyup="calculaValor()"></td>
</tr>
<tr v-if="fpa.quota_system==1">
    <th>Participação Cotistas [share] (%)</th>
    <td><input type="text" name="quota_share" v-model="fpa.quota_share"></td>
</tr>
<tr v-if="fpa.quota_system==1">
    <th>01 Cota [price - in USD]</th>
    <td><input type="text" name="quota_price" v-model="fpa.quota_price" @keyup="calculaValor()"><p>Total: ${{qv}}</p> </td>
</tr>
<tr v-if="fpa.quota_system==1">
    <th>Pagamento [currency]</th>
    <td><select name="currency" id="currency" v-model="fpa.quota_currency">
        <option value="BTC">Bitcoin (BTC)</option>
        <option value="ETH">Ethereum (ETH)</option>
        <option value="SLP">Smooth Love Potion (SLP)</option>
        <option value="USDT">Dóllar Tether (USDT)</option>
        </select></td>
</tr>
<tr v-if="fpa.quota_system==1">
    <th>Data de validade da oferta [expires] 00/00/0000</th>
    <td><input type="text" name="expires" v-model="fpa.quota_expires"></td>
</tr>
<tr v-if="fpa.quota_system==1">
    <th>Manager #ID</th>
    <td>#0{{manager['iduser'] + ' ' + manager['nome']}}</td>
</tr>

<!--------------------MENU-->
<li>
    <router-link to="/marketplace">Marketplace</router-link>
    <ul>
        <li><router-link to="/myorders">Meus pedidos</router-link></li>
        <li><router-link to="/mysales">Minhas vendas</router-link></li>
    </ul>
</li>